// cleanup = true

singularity {
    enabled = true
    singularity.autoMounts = true
}

executor {
    name = 'slurm'
}

params {
    //input data
    fastq_dir = "/path/to/fastq_dir/"

    //extension of the files
    suffix = "*{1,2}" // if you have samples that contain 001 in their name (for example : R1_001.fastq.gz), add "_001" after *{1,2}
    ext = "fastq,fastq.gz,fastq.bz2,fq,fq.gz,fq.bz2"

    //kneaddata database
    human_genome = "/path/to/ref/human_genome/"
    human_transcriptome = "/path/to/ref/human_transcriptome/"
    silva16s = "/path/to/ref/silva16S/"

    //kraken2 database
    kraken_db = '/path/to/krakenDB'

    //threshold for number of reads filtering (default=0)
    threshold = 0

    //confidence kraken score (default=0.1)
    confidence_score = 0.2

    //R and Pyhton script directory
    script_dir = '/path/to/MicrobioteRNApipe/PipelineScripts/' //a sup ou juste pipeline_dir

    //output directory
    output_dir = '/path/to/output_dir/'

    //work directory
    work_dir = '/path/to/work'
}


process {
    //Containers
    withName: 'kneaddata' {
        container = 'docker://biobakery/kneaddata:latest'
    }
    withName: 'run_Kraken2biom' {
        container = 'docker://quay.io/biocontainers/kraken-biom:1.2.0--pyh5e36f6f_0'
    }

    //Ressources
    withLabel: 'mini' { 
        cpus = 30
        memory = 30.GB
    }   
    withLabel: 'midi' { 
        cpus = 40
        memory = 20.GB
    }   
    withLabel: 'maxi' { 
        cpus = 10  
        memory = 190.GB
    }
    withLabel: 'maxi2' { 
        cpus = 10
        memory = 130.GB
    }
    withLabel: 'MAXI' { 
        cpus = 45
        memory = 190.GB
    }
}