cache = 'lenient'
//cleanup = true

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/shared/projects/microbiote_pdacrna/singularity_cache'
}

executor {
    name = 'slurm'
}

profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'fast'
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

params {
    krakendir = "path_to/dossier_entree/UnmappedReads_output"
    output_dir = 'path_to/dossier_de_sortie'
    work_dir = 'path_to/MicrobioteRNApipe/work'
    script_dir = '/shared/projects/microbiote_pdacrna/MicrobioteRNApipe/PipelineScripts/'
    kraken_db = 'path_to/kraken_BD'
    confidence_score = 0.2
    adapter_path = 'path_to/MicrobioteRNApipe/NextflowPipeline/TruSeq3-PE-2-GGGGG.fa'
}

process {
    // Configuration par nom de Processus
    withName: 'kneaddata' {
        container = 'file:///shared/projects/microbiote_pdacrna/newMetagen/singularity/kneaddata_0-12-0.sif'
    }
    
    withName: 'run_Kraken2biom' {
        container = 'docker://quay.io/biocontainers/kraken-biom:1.2.0--pyh5e36f6f_0'
    }
    
    withName: 'trimmomatic' {
        container = 'docker://biomehub/trimmomatic@sha256:92e0e8d9ebaef42074f6602eadb7dbcf132ff928830ab15c40a5678695dc6740'
        executor = 'slurm'
        queue    = 'fast'
        memory   = '300 GB'
        cpus     = 10
        clusterOptions = '--nodes=1 --ntasks-per-node=1'
    }
    
    withName: 'star_filter' {
        container = 'file:///shared/projects/microbiote_pdacrna/newMetagen/singularity/star_2.7.3.sif'
        cpus = 10
        memory = '100 GB'
    }

    withName: 'kraken' {
        container = 'docker://staphb/kraken2@sha256:81f2f0140695fe5c65ee0502a704957d327669280ec15a1efeab887eb9ebe1db'
        executor = 'slurm'
        queue    = 'fast'
        memory   = '300 GB'
        cpus     = 10
        clusterOptions = '--nodes=1 --ntasks-per-node=1'
    }
    
    // Configuration par Label
    withLabel: 'mini' { 
        cpus = 30
        memory = '30 GB'
    }   
    withLabel: 'midi' { 
        cpus = 40
        memory = '20 GB'
    }   
    withLabel: 'maxi' { 
        cpus = 10  
        memory = '190 GB'
    }
    withLabel: 'maxi2' { 
        cpus = 10
        memory = '130 GB'
    }
    withLabel: 'MAXI' { 
        cpus = 45
        memory = '190 GB'
    }
}