// cleanup = true

singularity {
    enabled = true
    singularity.autoMounts = true
}

executor {
    name = 'slurm'
}

params {
     //input data
    krakendir = "/shared/projects/microbiote_pdacrna/DUMP_unmap_IPMN/kraken2_output"
    
    //project directory
    project_dir = '/shared/projects/microbiote_pdacrna/newMetagen'

    //output directory
    output_dir = '/shared/projects/microbiote_pdacrna/DUMP_unmap_IPMN/microbiotepipe_output'

    //work directory
    work_dir = '/shared/projects/microbiote_pdacrna/MicrobioteRNApipe/work'

    //Rscript directory
    script_dir = '/shared/projects/microbiote_pdacrna/MicrobioteRNApipe/PipelineScripts/'
}


process {
    //Containers
    withName: 'kneaddata' {
        container = 'file:///shared/projects/microbiote_pdacrna/anne/newMetagen/singularity/kneaddata_0-12-0.sif'
    }
    withName: 'run_Kraken2biom' {
        container = 'docker://quay.io/biocontainers/kraken-biom:1.2.0--pyh5e36f6f_0'
    }

    //Ressources
    withLabel: 'mini' { 
        cpus = 30
        memory = 30.GB
    }   
    withLabel: 'midi' { 
        cpus = 40
        memory = 20.GB
    }   
    withLabel: 'maxi' { 
        cpus = 10  
        memory = 190.GB
    }
    withLabel: 'maxi2' { 
        cpus = 10
        memory = 130.GB
    }
    withLabel: 'MAXI' { 
        cpus = 45
        memory = 190.GB
    }
}