// cleanup = true

singularity {
    enabled = true
    singularity.autoMounts = true
}

executor {
    name = 'slurm'
}

params {
    //input data
    fastq_dir = "/shared/projects/pancreas_microbiote_rna/set_ech_melanome/"

    //extension of the files
    suffix = "*{1,2}" // if you have samples that contain 001 in their name (for example : R1_001.fastq.gz), add "_001" after *{1,2}
    ext = "fastq,fastq.gz,fastq.bz2,fq,fq.gz,fq.bz2"

    //kneaddata database
    human_genome = "/shared/projects/microbiote_pdacrna/anne/newMetagen/ref/human_genome"
    human_transcriptome = "/shared/projects/microbiote_pdacrna/anne/newMetagen/ref/human_transcriptome"
    silva16s = "/shared/projects/microbiote_pdacrna/anne/newMetagen/ref/silva16S"

    //kraken2 database
    kraken_db = '/shared/projects/vmdc_wgte/krakenDB'

    //threshold for number of reads filtering
    threshold = 0

    //project directory
    project_dir = '/shared/projects/can_mic/newMetagen'

    //output directory
    output_dir = '/shared/projects/microbiote_pdacrna/ali/test_cleanup_one_sample'

    //work directory
    work_dir = '/shared/projects/microbiote_pdacrna/ali/test_cleanup_one_sample/work'
}


process {
    //Containers
    withName: 'kneaddata' {
        container = 'file:///shared/projects/microbiote_pdacrna/anne/newMetagen/singularity/kneaddata_0-12-0.sif'
    }
    withName: 'run_Kraken2biom' {
        container = 'docker://quay.io/biocontainers/kraken-biom:1.2.0--pyh5e36f6f_0'
    }

    //Ressources
    withLabel: 'mini' { 
        cpus = 30
        memory = 30.GB
    }   
    withLabel: 'midi' { 
        cpus = 40
        memory = 20.GB
    }   
    withLabel: 'maxi' { 
        cpus = 10  
        memory = 190.GB
    }
    withLabel: 'maxi2' { 
        cpus = 10
        memory = 130.GB
    }
    withLabel: 'MAXI' { 
        cpus = 45
        memory = 190.GB
    }
}